h1 {
    color:#776e52;
}

p {
    color: #b1ab85;
}

.bi{
   color: #948c6b ; 
}

h3 {
   color:#cFca9f; 
}


body {
    background-color: #f2f0e4;
}

#botonagenda{
    color: #776e52;
    background-color: #f2f0e4;
}

nav :::before {
    color: #776e52;
}

