h1 {
    color:#776e52;
}

p {
    color: #b1ab85;
}

.bi{
   color: #948c6b ; 
}

h3 {
   color:#cFca9f; 
}


body {
    background-color: #f2f0e4;
}

#botonagenda, #eliminar, #actualizar{
    color: #756c52;
    background-color: #f2f0e4;
    
}

.nav-item :hover{
    font-size: 30px;
    border-bottom: 5px solid #756c52;
}

